
@{
}



<div class="text-center">
    <h1 class="display-4">Stocks</h1>
    <button onclick="openForm()">Add New Stock</button>
</div>

<div class="listsContainer">
    <table id="stockTable">
        <tr>
            <th>Stock Name</th>
            <th></th>
            <th></th>
        </tr>
    </table>
</div>

@* Add one Item *@
<div id="myModal" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    <span class="close" onclick="closeForm()">&times;</span>
    <form>
        <input placeholder="Stock name..." id="stockName"/>
        <input class="itemForm-input" type="button" value="Add" id="addButton" onclick="addStock()" />

    </form>
  </div>
</div>
<div id="myModal2" class="modal2">

  <!-- Modal content -->
  <div class="modal-content2">
    <span class="close2" onclick="closeForm2()">&times;</span>
    <form>
        <input placeholder="Stock name..." id="stockName2"/>
        <input class="itemForm-input" type="button" value="Edit" id="editButton" />

    </form>
  </div>
</div>

<script type="text/javascript">
window.onclick = function(event) {
  modal = document.getElementById("myModal");
  if (event.target == modal) {
    modal.style.display = "none";
      document.getElementById("stockName").value="";
      document.getElementById("stockName2").value="";

  }
}

function openForm() {
    document.getElementById("myModal").style.display = "block";
}
function closeForm() {
      document.getElementById("myModal").style.display = "none";
      document.getElementById("stockName").value="";

}
function addStock() {
    let stockName = document.getElementById("stockName").value;
    console.log(stockName);
    var stock = {
        "StockId":0,
        "StockName":stockName
    }
    axios.post("/api/stock/addstock", stock).then(response=>(addOneStock(response.data),console.log(response.data)));
    closeForm();
}
function addOneStock(stock) {
    let table = document.getElementById("stockTable");
    var tr = document.createElement("tr");
    var stockName = document.createElement("td");
    var del=document.createElement("td");
    var ed = document.createElement("td");
    stockName.innerHTML = stock.stockName;
    del.innerHTML=`<input type="button" value = "Delete" onClick="Delete(${stock.stockId},this)">`;
    ed.innerHTML=`<input type="button" value = "Edit" onClick="openForm2(${stock.stockId},this)">`;
        
        
    tr.appendChild(stockName);
    tr.appendChild(del);
    tr.appendChild(ed);

    table.appendChild(tr);
}
function fillItem(stocks) {
    
    let table = document.getElementById("stockTable");
    for (var i = 0; i < stocks.length; i++) {
        var tr = document.createElement("tr");
        var stockName = document.createElement("td");
        var del=document.createElement("td");
        var ed = document.createElement("td");

        
       
        stockName.innerHTML = stocks[i].stockName;
        del.innerHTML=`<input type="button" value = "Delete" onClick="Delete(${stocks[i].stockId},this)">`;
        ed.innerHTML=`<input type="button" value = "Edit" onClick="openForm2(${stocks[i].stockId},this)">`;
        
        
        tr.appendChild(stockName);
        tr.appendChild(del);
        tr.appendChild(ed);

        table.appendChild(tr);
    }

}
function Delete(id,r) {
    console.log("delete clik on ", id);
    axios.delete(`/api/stock/${id}`);
    var i = r.parentNode.parentNode.rowIndex;
    document.getElementById("stockTable").deleteRow(i);
}
function openForm2(id,r) {
    var i = r.parentNode.parentNode.rowIndex;
    console.log(i);
    document.getElementById("myModal2").style.display = "block";
    axios.get(`/api/stock/${id}`).then(response=>(console.log(response.data),
        document.getElementById("stockName2").value = response.data.stockName,
        document.getElementById("editButton").setAttribute("onclick",`editStock(${response.data.stockId},${i})`)))
    
}
function closeForm2() {
      document.getElementById("myModal2").style.display = "none";

}
function editStock(id,i) {
    console.log("edit clik on ", id);

    let editedStock = {
        "StockId":id,
        "StockName":document.getElementById("stockName2").value
    }
    axios.put(`/api/stock/stockedit/`,editedStock);
    document.getElementById("stockTable").rows[i].cells[0].innerHTML=document.getElementById("stockName2").value;
    closeForm2();
}
axios.get("/api/stock").then(response => (fillItem(response.data), console.log(response.data)));
</script>
